//- INFO --
//- INFO --


//------------------------------------------------------------------------------
mixin left-image(src, caption, style)
    div(class='content-image')
        img(src=src)
        div(style=style)
            p !{caption}


//------------------------------------------------------------------------------
mixin right-image(src, caption, style)
    div(class='content-image')
        div(style=style)
            p !{caption}
        img(src=src)


//------------------------------------------------------------------------------
mixin dual-image(src_left, src_right)
    div(class='content-image')
        img(src=src_left)
        img(src=src_right)


//------------------------------------------------------------------------------
mixin cover(titles, year, src, abstract, links)
    div#content-cover
        img(src=src,
            alt=titles[0])
        div
            div
                a(href='../html/index.html')
                    img(src='../img/etc/backward.svg'
                        alt='<-')
                    span home
                each title in titles
                    h1 !{title}
                p !{year}
                div.content-cover-abstract
                    each paragraph in abstract
                        p !{paragraph}
                if links
                    div.content-cover-links
                        each link in links
                            a(href=link[0])
                                img(src='../img/etc/forward.svg'
                                    alt='->')
                                span= link[1]


//------------------------------------------------------------------------------
doctype html
html(lang='en')
    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Copyright (C) 2008 - 2017 Peter Varo. All rights reserved.
    head
        meta(charset='utf-8')
        meta(name    = 'description'
             content = 'Peter Varo (developer|designer)')
        meta(name    = 'keywords'
             content = 'peter,varo,petervaro,design,designer,jewelry,product,' +
                       'generative,procedural,parametric,algorithmic,3d,'      +
                       'print,sketch,prototype,draft,cnc,lathe,laser,edm,'     +
                       'mome,art,artist,typography,typo,startup,script,'       +
                       'graphic,ui,ux')
        meta(name    = 'Author'
             content = 'Peter Varo')
        block title
        link(rel  = 'shortcut icon'
             type = 'image/x-icon'
             href = 'favicon.ico')
        link(rel  = 'icon'
             type = 'image/x-icon'
             href = 'favicon.ico')
        link(rel  = 'stylesheet'
             type = 'text/css'
             href = '../css/project.css')

    //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    body
        div#content
            block project
            p#content-copy &copy; 2008 &ndash; 2017 peter varo
